<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Esse gato sou eu</title>
</head>
<body>
    <header>
        <img src="../static/gatologo-removebg-preview.png" width="150px" alt="logo">
        <h1>Esse gato sou eu</h1>
    </header>
    <main>
        <div class="container">
            <div class="form">
                <form action="/" method="post">
                    <label for="">Informe seu nome:</label>
                    <input type="text" name="nome">
                    <button type="submit">enviar</button>
                </form>
            </div>
            <div class="gato">
                {% if not url_imagem %}
                    <img src="/static/gato4.webp" alt="...">
                    <p>Nome</p>
                {% else %}
                    <img src="{{ url_imagem }}" alt="Gato">
                    <p>{{nome}}</p>
                {% endif %}
                {% if erro %}
                    <p>{{erro}}</p>
                {% endif %}
            </div>
        </div>
    </main>
    <footer>
        <p>Desenvolvido por <a href="">Juliano Corrêa Amaro</a></p>
    </footer>
</body>
</html>